
* {
	margin: 0;
	padding: 0;
}

:root {
	--control-panel-height: 200px;
}

canvas {
	width: 840px;
	height: 640px;
	box-shadow: 0 0 5px black;
}

#canvas-holder {
	
	position: absolute;
	top: 0;
	
	height: calc(100% - var(--control-panel-height));
	width: 100%;
	
	background: #111111;
}

#control-panel {
	
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: var(--control-panel-height);
	
	background: #333333;
	box-shadow: 0 0 10px black;
	
	float: left;
}

#graph-control-panel {
	
	position: relative;
	
	width: 50%;
	height: 100%;
	
	background: red;
}

#general-control-panel {
	
	position: relative;
	
	width: 50%;
	height: 100%;
	
	background: green;
}