
* {
	margin: 0;
	padding: 0;
	font-family: source code pro;
	border: 0;
	font-size: 10px;
}

:root {
	--control-panel-height: 200px;
}

p {
	color: white;
	font-size: 10px;
}

select {
	border-radius: 3px;
	
	font-style: bold;
	
	background-color: #222222;
	color: white;
}

input[type=number] {
	
	width: 50px;
	
	border-radius: 3px;
	
	font-style: bold;
	
	background-color: #222222;
	color: white;
}

body {
	overflow: hidden;
}

label {
	color: white;
}

canvas {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
	width: 840px;
	height: 640px;
	
	box-shadow: 0 0 5px black;
}

#canvas-holder {
	
	position: absolute;
	top: 0;
	
	height: calc(100% - var(--control-panel-height));
	width: 100%;
	
	background: #111111;
}

#control-panel {
	
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: var(--control-panel-height);
	
	background: #333333;
	box-shadow: 0 0 10px black;
	
	--graph-control-panel-width: 300px;
	
	display: flex;
	flex-direction: row;
	
}

#graph-control-panel {
	
	flex-shrink: 0;
	width: 280px;
	
	border: 1px solid #444444;
	box-sizing: border-box;
	
	padding: 5px;
}

#general-control-panel {
	
	flex-shrink: 0;
	width: 280px;
	
	border: 1px solid #444444;
	box-sizing: border-box;
	
	padding: 10px;
}

#general-control-panel select, #general-control-panel input {
	margin-bottom: 5px;
}

#description-control-panel {
	
	min-width: 200px;
	
	border: 1px solid #444444;
	box-sizing: border-box;
	
	padding: 10px;
}

#description-control-panel * {
	font-size: 12px;
}

.graph-control {
	
	margin-top: 5px;
	margin-left: 5px;
	
	color: white;
	
	height: 25px;
}

.graph-control > input {
	background-color: transparent;
	
	width: 25px;
	height: 100%;
	
	margin-right: 5px;
}

.graph-control > select {
	
	position: relative;
	
	top: -10px;
	left: -5px;
	
	width: calc(100% - 57px);
	height: calc(100% - 7px);
}

.graph-control > .remove {
	
	position: relative;
	
	width: 15px;
	height: 15px;
	
	top: -10px;
	left: -5px;
	
	border-radius: 100%;
	
	text-align: middle;
	font-weight: bold;
	font-size: 6px;
	
	background-color: #222222;
	color: white;
}

#graph-control-panel > .add-control {
	position: relative;
	
	width: calc(100% - 10px);
	height: 25px;
	
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	
	background-color: #444444;
	
	margin-top: 10px;
	margin-left: 5px;
}

#graph-control-panel > .add-control > p {
	position: relative;
	top: 50%;
	transform: translateY(calc(-50% - 2px));
	font-size: 20px;
}

.bottom-panel {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: white black;
}

.bottom-panel::-webkit-scrollbar {
	width: 10px;
}

.bottom-panel::-webkit-scrollbar-track {
	background: #444444;
}

.bottom-panel::-webkit-scrollbar-thumb {
	background-color: #888888;
}