
* {
	margin: 0;
	padding: 0;
	font-family: source code pro;
	font-size: 10px;
	border: 0;
}

:root {
	--control-panel-height: 200px;
}

canvas {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
	width: 840px;
	height: 640px;
	
	box-shadow: 0 0 5px black;
}

#canvas-holder {
	
	position: absolute;
	top: 0;
	
	height: calc(100% - var(--control-panel-height));
	width: 100%;
	
	background: #111111;
}

#control-panel {
	
	position: absolute;
	bottom: 0;
	
	width: 100%;
	height: var(--control-panel-height);
	
	background: #333333;
	box-shadow: 0 0 10px black;
}

#graph-control-panel {
	
	position: relative;
	float: left;
	
	width: 50%;
	height: 100%;
	
	border-right: 1px solid #444444;
	box-sizing: border-box;
	
	padding: 5px;
}

#general-control-panel {
	
	position: relative;
	float: right;
	
	width: 50%;
	height: 100%;
	
	border-left: 1px solid #444444;
	box-sizing: border-box;
}

.graph-control {
	margin-top: 5px;
	margin-left: 5px;
	color: white;
	height: 25px;
}

.graph-control > input {
	background-color: transparent;
	width: 25px;
	height: 100%;
	margin-right: 5px;
}

.graph-control > select {
	position: relative;
	top: -5px;
	left: -5px;
	height: calc(100% - 7px);
	border-radius: 3px;
	font-style: bold;
}
